@mixin button($width, $margin, $font-size, $line-height) {
    width: $width;
    margin: $margin;
    font: 400 #{$font-size}/#{$line-height} $secondary-font;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: $secondary-background;
    color: $main-color-light;
    border: 2px solid $secondary-background;
    border-radius: 25px 0;
}

@mixin counter-color($class, $start, $end) {
    @for $i from $start through $end {
        .#{$class}_#{$i} {
            @if $i == 3 {
                background: rgba(201, 102, 153, 1/($i+1));
            } @else {
                background: rgba(201, 102, 153, 1/$i);
            }
        }
    }
}

@mixin text-color($class, $numbers) {
    @each $i in $numbers {
        .#{$class}_#{$i} {
            border-color: rgba(201, 102, 153, 1/$i);
        }
    }
}

@mixin alignment($class, $i, $end) {
    @while $i<$end {
        &:nth-of-type(#{$i}) {
            .#{$class} {
                justify-content: map-get($alignment, $i);
            }
        }
        $i: $i+1;
    }
}

@mixin alignment-reverse($class, $i, $end) {
    @while $i<$end {
        &:nth-of-type(#{$i}) {
            .#{$class} {
                justify-content: map-get($alignment-reverse, $i);
            }
        }
        $i: $i+1;
    }
}