// Breakpoints
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;
// Colors
$main-color-dark: hsl(0, 0%, 60%);
$main-color-light: hsl(0, 0%, 98%);
$secondary-color: hsl(330, 50%, 60%);
$background-header: hsla(0, 0%, 8%, 0.7);
$background-footer: hsla(0, 0%, 8%, 0.7);
$main-background: hsl(0, 0%, 20%);
$secondary-background: hsl(330, 50%, 60%);
$features-background: hsla(336, 45%, 64%, .1);
// Fonts
$main-font: 'Lato', sans-serif;
$secondary-font: 'Dynalight', cursive;